<app-card titulo="Primeiro componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando conhecimento em templates" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card>
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card>
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card>
    <app-componente-personalizado nome="João" sobrenome="Silva"></app-componente-personalizado>
</app-card>

<app-card>
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card>
    <app-exemplo-servicos1></app-exemplo-servicos1>
</app-card>

<app-card>
    <app-ciclo-vida></app-ciclo-vida>
</app-card>


